.food-wrapper,
.food-wrapper1 {
	position: relative;
	width: 100%;
	padding: 15px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	background-color: lavender;
	animation: fade 1s;
}

.food-wrapper1 {
	padding: 15px 150px;
}

.food-header__content {
	display: flex;
	width: 100%;
}

.food-img__container {
	position: relative;
	width: 50%;
	padding-bottom: 36%;
	overflow: hidden;
	display: block;
	border-radius: 10px;
}

.drink-img__container {
	position: relative;
	width: 40%;
	height: 0;
	padding-bottom: 30%;
	overflow: hidden;
	display: block;
	border-radius: 10px;
}

.food-img__container img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.drink-img__container img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.optional-image {
	width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.btn-navigate__back,
.btn-navigate__back1 {
	position: absolute;
	right: 1%;
	bottom: 100%;
	width: 35px;
	height: 35px;
	font-size: 17px;
	line-height: 1.5rem;
	cursor: pointer;
	outline: none;
	border: 2px solid #f78;
	color: #f78;
	border-radius: 50%;
	text-decoration: none;
	box-shadow: 0px 10px 14px -10px rgb(254, 102, 125);
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	background-color: transparent;
	transition: all .2s;
	z-index: 8;
}

.btn-navigate__back1 {
	right: 0%;
	bottom: 94%;
	border: 2px solid #61045f;
	color: #61045f;
	border-radius: 50%;
	text-decoration: none;
	box-shadow: 0px 10px 14px -10px #61045f;
}

.btn-navigate__back:hover,
.btn-navigate__back1:hover {
	box-shadow: 0px 0px 5px #fff;
	color: #ffffff;
	border-color: #fff;
}

.btn-store__active {
	cursor: pointer;
	outline: none;
	width: 35px;
	height: 35px;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 1px 7px 14px -4px #001;
	padding-top: 5px;
	transition: all .4s;
}

.btn-store,
.btn-store1 {
	cursor: pointer;
	outline: none;
	width: 35px;
	height: 35px;
	border: 1px solid transparent;
	border-radius: 50%;
	box-shadow: 1px 7px 14px -7px #001;
	background-image: linear-gradient(rgb(254, 102, 125), rgb(255, 163, 117));
	padding-top: 5px;
	transition: all .4s;
}

.btn-store1 {
	background-image: linear-gradient(to top, #61045f 0%, #980369 100%);
}

.btn-store__active:hover,
.btn-store:hover,
.btn-store1:hover {
	box-shadow: none;
}

.food-header__details {
	position: absolute;
	max-width: 100%;
	top: 50px;
	left: 0px;
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .09);
	background-color: hsla(0, 0%, 100%, .21);
}

.food-header__title {
	font-size: smaller;
	color: #fff;
	text-shadow: 0 3px 6px #663939;
}

.food-details {
	width: 60%;
}

.category-favorite {
	width: 100%;
	padding: 5px 0px 6px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.food-category,
.food-favorite {
	display: block;
	padding-top: 6px;
}

.food-category h3,
.drink-category h3 {
	color: red;
	margin-right: 20px;
}

.drink-category h3 {
	color: #61045f;
	padding: 7px 0px 0px;
}

.food__details {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.food-details__ingredients,
.drink-details__ingredients {
	position: relative;
	width: 50%;
	padding: 15px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: all .3s;
	z-index: 99;
}

.food-details__list {
	width: 100%;
	padding: 10px;
}

.food-details__ingredients ul li {
	list-style: square;
}

.food-details__ingredients::before {
	position: absolute;
	content: "";
	width: 55%;
	height: 100%;
	top: 0;
	right: 0;
	background-image: url(../image/ingredient.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: all .3s;
	z-index: -1;
}

.food-ingredients,
.drink-ingredients {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px 25px;
	border-radius: 10px;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .09);
	background-color: hsla(0, 0%, 100%, .61);
	z-index: 99;
}

.drink-ingredients::before {
	content: "";
	position: absolute;
	width: 55%;
	height: 90%;
	bottom: 0;
	right: 0;
	/* clip-path: polygon(33% 100%, 100% 100%, 100% 26%); */
	background-image: url(../image/drinkcock.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	border-top-left-radius: 100%;
	z-index: -1;
}

.food-ingredients h2,
.drink-ingredients h2 {
	padding-top: 10px;
	color: red;
	text-shadow: 0 1px 2px #663939;
}

.drink-ingredients h2 {
	color: #61045f;
}

.food-details__list li {
	padding-bottom: 6px;
	list-style: square;
}

.food-details__instructions,
.food-details__instructions1 {
	width: 100%;
	margin: 20px 0px;
	border-radius: 4px;
	list-style: square;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.food-details__instructions h2 {
	margin-bottom: 15px;
	color: red;
	text-shadow: 0 1px 2px #663939;
}

.food-details__instructions1 h2 {
	color: #61045f;
}

.food-details__instructions li,
.food-details__instructions1 li {
	padding: 10px;
}

.btn-show__details {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	width: 6%;
	position: absolute;
	bottom: 102.2%;
	left: 48%;
	outline: none;
	line-height: 1.5rem;
	border: 2px solid red;
	color: red;
	border-radius: 4px;
	text-decoration: none;
	box-shadow: 0px 10px 14px -13px rgb(254, 102, 125);
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	text-shadow: initial;
	transition: all .3s;
	display: none;
}

.video-container {
	width: 100%;
}

.video-container h2 {
	margin-bottom: 15px;
	color: red;
	text-shadow: 0 1px 2px #663939;
}

.video-wrapper {
	position: relative;
	padding-bottom: 40.25%;
	padding-top: 15px;
	height: 0;
	overflow: hidden;
}

.youtube-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* @media only screen and (min-device-width: 20em) and (max-device-width: 30em) { */
@media (min-width: 320px) and (max-width: 480px) {
	.food-wrapper,
	.food-wrapper1 {
		padding: 0 15px;
		margin-top: 0px;
	}

	.btn-navigate__back,
	.btn-navigate__back1 {
		right: 6%;
		top: 20px;
		color: #ffffff;
		border-color: #fff;
		box-shadow: 0px 0px 5px #fff;
	}

	.food-header__content {
		flex-direction: column;
	}

	.food-img__container,
	.drink-img__container {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 10px;
	}

	.food-header__title {
		font-size: 12px;
	}

	.food-details__ingredients::before {
		display: none;
	}

	.food-details__ingredients,
	.drink-details__ingredients {
		position: relative;
		width: 100%;
		border-radius: 10px;
	}

	.food-details__instructions,
	.food-details__instructions1 {
		line-height: 1.8;
		padding: 10px;
		margin: auto;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .09);
		background-color: hsla(0, 0%, 100%, .61);
		border-radius: 10px;
		text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	}

	.food-details__instructions h2,
	.food-details__instructions1 h2 {
		margin-bottom: 0px;
	}

	.video-container {
		margin-top: 20px;
		padding: initial;
	}
}

/* @media only screen and (min-device-width: 48em) and (max-device-width: 64em) { */
@media (min-width: 481px) and (max-width: 768px) {
	.food-wrapper,
	.food-wrapper1 {
		padding: 15px;
	}

	.btn-navigate__back,
	.btn-navigate__back1 {
		right: 4%;
		top: 25px;
		color: #ffffff;
		border-color: #fff;
		box-shadow: 0px 0px 5px #fff;
	}

	.food-header__content {
		flex-direction: column;
	}

	.food-img__container,
	.drink-img__container {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		border-radius: 10px;
	}

	.food-img__container img {
		height: 100%;
	}

	.food-header__title {
		font-size: 12px;
	}

	.food-details__ingredients::before {
		display: none;
	}

	.food-details__ingredients,
	.drink-details__ingredients {
		position: relative;
		width: 100%;
		border-radius: 10px;
	}

	.food-details__instructions,
	.food-details__instructions1 {
		line-height: 1.8;
		padding: 10px;
		margin: auto;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .09);
		background-color: hsla(0, 0%, 100%, .61);
		border-radius: 10px;
		text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	}

	.food-details__instructions h2,
	.food-details__instructions1 h2 {
		margin-bottom: 0px;
	}

	.video-container {
		margin-top: 20px;
		padding: initial;
	}
}
